/* 確保所有 taxonomy 列表可以在同一行顯示 */
.taxonomy-list ul.tags {
  display: inline-flex; /* 使用 Flexbox 實現並排 */
  list-style: none;     /* 移除列表前面的點 */
  padding: 0;
  margin: 0;
}

/* 確保列表項目並排顯示 */
.taxonomy-list .tag-li {
  display: inline;
  margin-right: 0px; /* 項目之間的間距 */
}

/* 為 @ 和 # 添加輕微樣式 */
.taxonomy-icon {
  opacity: 0.7;
}

